<div class="entry">
    <h1>{{title}}</h1>

    <header>
        <nav>
            <i class="md-menu"></i> <span class="flex">Inspiration</span> <i class="md-refresh"></i>
        </nav>
    </header>

    <div class="body">
        {{{body}}}
        <h1>Pinned</h1>
        <div id="pinned"></div>
        <h1>Feed</h1>
        <div id="feed"></div>
    </div>
</div>