<div class="entry">
    <header>
        <nav>
            <button id="menu" class="menu icon md-menu"></button> <h1>{{title}}</h1> <button class="actions icon md-refresh"></button>
        </nav>
    </header>

    <aside id="drawer">
        <nav>
            <ul>
                <li><a href=""><i class="md-landscape"></i> Inspiration</a></li>
                <li><a href=""><i class="md-event"></i> Shoot Planner</a></li>
                <li><a href=""><i class="md-settings"></i> Settings</a></li>
            </ul>
        </nav>
    </aside>

    <div class="body">
        <h1>Pinned</h1>
        <div id="pinned"></div>
        <h1>Feed</h1>
        <div id="feed">

            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

        </div>
    </div>
</div>