<form action="">
    <input type="text" id="name" name="name" placeholder="Shoot Name">
    <input type="date" id="date" name="date">
    <select>
        <option></option>
    </select>
    <textarea>

    </textarea>
</form>