<header class="app__header app__header--scroll">
    {{#actionBar title="Inspiration"}}
        <button class="icon md-refresh"></button>
    {{/actionBar}}
    {{> tabNav items=tabs }}
    {{> drawer }}
</header>

{{#tabs items=tabs class="body"}}
    {{> spinner }}
{{/tabs}}