<header class="app__header">
    {{#actionBar title="Shoot Details"}}
        <button class="icon md-save"></button>
    {{/actionBar}}
</header>

<form action="">
    <div class="input">
        <input type="text" id="name" name="name" required>
        <label for="name">Shoot name</label>
        <span class="input__bar"></span>
    </div>

    <div class="input">
        <input type="date" id="date" name="date">
        <label for="date">Shoot date</label>
        <span class="input__bar"></span>
    </div>

    <br>

    <label for="color">Colour Code</label>
    <input type="color" id="color" name="color">

    <br>

    <label for="type">Shoot Type</label>
    <select id="type" name="type" multiple>
        <option value="night">Night</option>
        <option value="sunrise">Sunrise</option>
        <option value="sunset">Sunset</option>
        <option value="landscape">Landscape</option>
        <option value="portrait">Portrait</option>
        <option value="action">Action</option>
        <option value="indoors">Indoors</option>
        <option value="outdoors">Outdoors</option>
    </select>

    <br>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" placeholder="Notes"></textarea>
</form>
