<header class="app__header">
    {{#actionBar title="Shoot Planner"}}{{/actionBar}}
    {{> drawer }}
</header>

<div class="body">
    <ul>
        <li>Shoot 1</li>
        <li>Shoot 2</li>
        <li>Shoot 3</li>
        <li>Shoot 4</li>
    </ul>
    <button id="add" class="btn btn--action btn--red icon md-add"></button>
</div>