@import 'common/material-design-iconic-font';

body {
    font-family: 'Open Sans', sans-serif;
    background: #444;
}

.flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width:400px;
    margin-bottom: 20px;

    .card__image-container {
        height:200px;
        overflow: hidden;
        background: #eee;
        border-radius: 3px;
    }

    .card__image {
        border-radius: 3px 3px 0 0;
        width: 100%;
    }

    .card__tag {

    }

    h2 {
        margin: 0;
    }

    small {
        color: #888;
    }

    footer {
        padding: 10px;
    }
}