@import 'common/material-design-iconic-font';
@import 'common/card';
@import 'common/nav';
@import 'common/spinner';

* {
  outline: none;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif; //TODO: still need to add the Roboto font maybe?
    background: #eee;
    margin: 0;
}

button {
    color: inherit;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: #444;
}

.body {
    padding: 10px;
}

.btn-round {
    background: #F44336;
    color: #fff;
    padding: 10px;
    border-radius: 50%;

    box-shadow: @shadow;
}