<aside id="drawer" class="drawer">
    <nav>
        <ul>
            <li><a href="/inspiration"><i class="md-landscape"></i> Inspiration</a></li>
            <li><a href="/shoot-planner"><i class="md-event"></i> Shoot Planner</a></li>
            <li><a href="/settings"><i class="md-settings"></i> Settings</a></li>
        </ul>
    </nav>
</aside>